.user-content .top {
    display: flex;
    width: calc(100% - 280px);
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--hover);
    color: var(--text);
    position: fixed;
    top: 0;
    left: 280px;
    background-color: var(--third);
    z-index: 1;
}

.user-content .top .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: var(--text);
}

.profile {
    display: flex;
    gap: 10px;
    align-items: flex-start;    /* fixed */
    justify-content: left;
    height: max-content;
    padding: 0px 15px;
    position: relative; 
}

.profile div p {
    font-size: 15px;
    color: var(--second);
}


.profile-info p:last-of-type {
    color: gray;
    font-size: 12px;
}

.dropdown {
    position: absolute;
    top: 55px;
    left: 0;
    background: #fff;
    border-radius: 10px;
    padding: 12px 18px;
    min-width: 140px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    z-index: 10;
}

.drop-item {
    font-size: 16px;
    margin: 10px 0;
    color: var(--second);
    font-weight: 600;
    cursor: pointer;
}



